* {
    font-family: muli;
}

#mainHead {
    position: relative;
    
}

#mainPhoto {
    width:100%;
    position: relative;
    display:inline
}

.titlebox {
    background-color:white;
    z-index: 2;
    height: 120px;
    position:relative;
    bottom: 100px;
    opacity: .5
    
}

.title {
    position:absolute;
    display:block;
    right:100px;
    z-index: 2;
    font-size: 6em;
    color:black;
    opacity:1;
}

.mainbody {
    max-width: 70%;
}

.footer {
    height:75px;
    background-color:#333;
    width: 100%;
    color: white;
    padding-top:25px;
    text-align: center;
    font-weight: 100;
}

/*media queries*/
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
        max-width:100%
        margin-top: 12px;
        margin-left:1px;
    } [class*="title"] {
        width:100%;
        display:block;
        font-size: 2em;
        color:black;
        position: relative;
        top: 30px;
        right:0px;
    } [class*="titlebox"] {
        display:inherit;
        opacity: 1;
        height:110px
    } [class*= "footer"]{
        padding-top:2px
    }
}
       
    
    
    
    
    
    